@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width:950px) {
    .list{
        transition: 1s ease-in-out;
    }
    .position{
        height: 39vh;
    }
    .opentg{
        display: flex;
    }
    .closetg{
        display: none;
    }
}